body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #11123b;
  color: #e2e8f0;
}

/* CONTAINER PRINCIPAL */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TÍTULO */
.title {
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 600;
}

/* TEXTAREA */
.textarea {
  width: 100%;
  max-width: 700px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  resize: none;
  font-size: 14px;
  margin-bottom: 10px;
}

/* BOTÃO PRINCIPAL */
.btn-primary {
  width: 100%;
  max-width: 700px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #ffffff;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.2s;
}

.btn-primary:hover {
  background: #19629e;;
}

/* BOTÃO SECUNDÁRIO */
.btn-secondary {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.2s;
}

.btn-secondary:hover {
  background: #19629e;
}

/* SEÇÃO DOS EXERCÍCIOS */
.section {
  width: 100%;
  max-width: 700px;
  margin-top: 20px;
}

/* CARD */
.card {
  width: 100%;
  background: #0f172a;
  padding: 18px;
  border-radius: 12px;
  margin-top: 12px;

  border: 1px solid #334155;
  box-sizing: border-box;
}

/* TEXTO DA QUESTÃO */
.card p {
  margin-top: 8px;
}

/* INPUT */
.answer-input {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  border-radius: 8px;

  border: none;
  outline: none;

  font-size: 14px;
  box-sizing: border-box;
}

/* FEEDBACK */
.feedback {
  margin-top: 10px;
  font-weight: bold;
}

.feedback small {
  display: block;
  margin-top: 4px;
  color: #f87171;
}

/* MOBILE */
@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .section {
    max-width: 100%;
  }

  .card {
    padding: 14px;
  }

  .textarea,
  .btn-primary {
    max-width: 100%;
  }
}